.home-page {

  .home-hero {

    .home-hero-slides {
      
      width: 100%;

      .home-hero-slide {
        //background: linear-gradient(270deg, rgba(0, 0, 0, 0) -5%, rgba(0, 0, 0, 0.7) 70%);
        position: relative;
        width: 100%;

        &:after {
          background: linear-gradient(270deg, rgba(0, 0, 0, 0) -5%, rgba(0, 0, 0, 0.7) 70%);
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
        }

        .hero-slide-background {
          //height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: 300px;
          width: 100%;
          z-index: 0;

          @include breakpoint(medium) {
            height: 600px;
          }

        }

        .row {
          position: relative;
          z-index: 1;

          .columns {

            .hero-slide-content {
              display: flex;
              height: 300px;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              @include breakpoint(medium) {
                height: 600px;
              }

              p {
                margin-bottom: 0;
              }

              .fc-section-subtitle {
                color: #fff;
                margin-bottom: 0;
              }
    
              ul {
                list-style: none;
                margin: 10px 0 40px;
                padding: 0;
    
                li {
                  color: #fff;
                  font-weight: 300;
                  font-size: 40px;
                  height: 45px;
                  line-height: 45px;

                  @include breakpoint(medium) {
                    font-size: 60px;
                    height: 65px;
                    line-height: 65px;
                  }

                  @include breakpoint(xlarge) {
                    font-size: 80px;
                    height: 85px;
                    line-height: 85px;
                  }
                  
                }
    
              }

            }

          }

        }

      }


    }
    
  }



}