// Some global styles for sections of content
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.menu-icon {
  margin-top: 9px;
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: 0px solid transparent;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  

  &:after{
    background: $black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;

  }
}



.fc-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fc-section.vis-rowgap-tiny > .uk-container{
    row-gap: $row-gap-tiny;
}
.fc-section.vis-rowgap-small > .uk-container{
    row-gap: $row-gap-small;
}
.fc-section.vis-rowgap-regular > .uk-container{
    row-gap: $row-gap-regular;
}
.fc-section.vis-rowgap-large > .uk-container{
    row-gap: $row-gap-large;
}
.fc-section.vis-rowgap-xlarge > .uk-container{
    row-gap: $row-gap-xlarge;
}

.fc-section.vis-sec-pad{

  &-top{
    &-tiny{
      padding-top: $sec-pad-tiny;
    }
    &-small{
      padding-top: $sec-pad-small;
    }
    &-regular{
      padding-top: $sec-pad-regular;
    }
    &-large{
      padding-top: $sec-pad-large;
    }
    &-xlarge{
      padding-top: $sec-pad-xlarge;
    }
  }

  &-bottom{
    &-tiny{
      padding-bottom: $sec-pad-tiny;
    }
    &-small{
      padding-bottom: $sec-pad-small;
    }
    &-regular{
      padding-bottom: $sec-pad-regular;
    }
    &-large{
      padding-bottom: $sec-pad-large;
    }
    &-xlarge{
      padding-bottom: $sec-pad-xlarge;
    }
  }

}


#fc-section-2 > .fc-section-columns {
  min-width: calc(100% - 4rem);
  max-width: calc(100% - 4rem);
}
